@import url("//fonts.googleapis.com/css?family=Pacifico&text=Pure");
@import url("//fonts.googleapis.com/css?family=Roboto:700&text=css");
@import url("//fonts.googleapis.com/css?family=Kaushan+Script&text=!");
body {
	background-color: #011627;
	color: #fff;
	font-family: 'fira code';
}

.subtitle {
	font-weight: 400;
    color: #011627;
    background: #43D9AD;
    padding: 6px 20px;
    border-radius: 8px;
    font-size: 22px;
	margin: 15px 0px;
	display: inline-block;
}

.comments {
	font-weight: 400;
	color: #607B96;
}

.tags {
	color: #4D5BCE;
	font-weight: 400;
}

.variables {
	color: #43D9AD;
	font-weight: 400;
}

.values {
	color: #E99287;
	font-weight: 400;
}

.d-rel {
	position: relative;
}


.bg-text {
	position: absolute;
	font-size: 130px;
	z-index: -1;
	opacity: 0.1;
	top: -49%;
	left: -20%;
	font-family: "Rubik";
}

.bg-sec {
	background: url(../images/Background\ Blurs.png);
	background-position: 111% center;
    background-repeat: no-repeat;
    background-size: 60%;
}

.ex-pd {
	height: 100vh;
	margin: auto;
}

/* logo animations */
.react-js {
	position: absolute;
    left: -20px;
    width: 116px;
    /* z-index: -1; */
    bottom: 35px;
    /* box-shadow: 0px 0px 28px -4px #00ccff; */
    border-radius: 100%;
	animation: rotation 20s infinite linear;
}
.node-js {
	position: absolute;
    right: -40px;
    bottom: -20px;
    width: 140px;
    /* z-index: -1; */
    /* box-shadow: 0px 0px 28px -4px #00ccff; */
    border-radius: 100%;
	animation: float 3s infinite ease-in-out;
}
.js-js {
	position: absolute;
    right: 40px;
    top: 100px;
    width: 100px;
    /* z-index: -1; */
    /* box-shadow: 0px 0px 28px -4px #00ccff; */
    border-radius: 100%;
	animation: float 4s infinite ease-in-out;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

@keyframes jumping {
	from {
		right: -40px;
		bottom: -20px;
	}
	50% {
		right: -40px;
		bottom: 0px;
	}
	to {
		right: -40px;
		bottom: -20px;
	}
}

/* Animated png */
.animations {
	position: absolute;
	opacity: 0.2;
}

.a-1 {
	width: 40px;
	top: 10vh;
	left: 5%;
	animation: rotation 7s infinite linear, sq-move 20s infinite linear;
	z-index: -1;
}

.a-2 {
	width: 43px;
    bottom: 13vh;
    left: 7%;
    animation: bottom-rotation 20s infinite linear;
    z-index: -1;
    transform: rotate(45deg);
}

.a-4 {
	width: 31px;
	top: 15vh;
	left: 45%;
	animation: rotation 7s infinite linear;
	z-index: -1;
}

@keyframes bottom-rotation {
	from {
		bottom: 13vh;
    	left: 7%;
	  }
	  25% {
		transform: rotate(186deg);
		bottom: 0vh;
		left: 18%;
	  }
	  50% {
		transform: rotate(286deg);
		bottom: 15vh;
		left: 36%;
	  }
	  to {
		/* transform: rotate(359deg); */
	  }
}

@keyframes rotation {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(359deg);
	}
  }
@keyframes rail {
	from {
		top: 15vh;
		left: 16%;
	}

	to {
		top: 15vh;
		left: 45%;
	}
}

@keyframes sq-move {
	from {
		top: 10vh;
		left: 5%;
	}
	25% {
		top: 20vh;
		left: 0%;
	}
	50% {
		top: 30vh;
		left: 5%;
	}
	75% {
		top: 20vh;
		left: 10%;
	}
	to {
		top: 10vh;
		left: 5%;
	}
}

/* Animated Name */
.text-area {
  font-size: 0px;
}



.text {
  display: inline-block;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  font-size: 70px;
  font-weight: 400;
  color: #fff;
  font-family: "Rubik";
  z-index: 100;
}

.text-space {
	display: inline-block;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-iteration-count: 1;
	font-size: 30px;
	font-weight: 500;
	color: #43D9AD;
}

.text:hover {
	color: #43D9AD;
}

.text-area .rubber {
  animation: rubberBand linear 1s;
}



@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.50, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

